<a href="https://colab.research.google.com/github/Arif-Uz-Zaman/helloworld/blob/github/Py_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List** 
- List creation
- List Comprehension
- List Slicing 
- Changable (Update, Add, Remove)
- Looping Through List
- sort,max,min & sum
- List using Loop and if_elif
- List Copy

# **List Creation**

In [ ]:
myList = ["apple", "banana", "cherry"]
print(myList)
mylist = list(('apple', 'banana', 'cherry'))
print(mylist)
list1 = [1,2,3,4]
list2 = [True, False, True]
list3 = ["apple","banana","cherry","apple"]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
[1, 2, 3, 4]
[True, False, True]
['apple', 'banana', 'cherry', 'apple']

# **List Comprehension**

In [ ]:
n = int(input())
mylist = [0 for i in range(1,n+1)] #pattern = mylist = [value for interative(i) in range(start,end+1)]
print(mylist)

sq = [i*i for i in range(10)]
print(sq)

5
[0, 0, 0, 0, 0]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# **List Slicing**

In [ ]:
myList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(myList[2:5])
print(myList[:4])
print(myList[4:])
print(myList[-5:-2])
print(myList[-5:5])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['kiwi', 'melon', 'mango']
['cherry', 'orange', 'kiwi']
['cherry', 'orange', 'kiwi']

# **List Changability(Update,Add,delete)**

-Update

In [ ]:
mylist = ["apple","banana","cherry"]
mylist[0] = "mango" # replace in particular index
print(mylist)
mylist[0:2] = ["apple", "strawberry"] #replace in several index
print(mylist)
mylist[0:2] = ["mango", "orange","watermelon"] #replace several index and adding extra at the next of the last index mentioned
print(mylist)

['mango', 'banana', 'cherry']
['apple', 'strawberry', 'cherry']
['mango', 'orange', 'watermelon', 'cherry']

-Add(append,insert,extend)

In [ ]:
mylist = ["apple","banana","cherry"]
mylist1  = ["mango","orange"]
mylist =mylist+mylist1 # adding both list
print(mylist)

mylist = ["apple","banana","cherry"]
mylist.append("mango") #use of append
print(mylist)
mylist.insert(1 , "Strawberry") #use of insert
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'orange']
['apple', 'banana', 'cherry', 'mango']
['apple', 'Strawberry', 'banana', 'cherry', 'mango']

-Delete(remove,pop,del)

In [ ]:
mylist = ['apple', 'Strawberry', 'banana', 'cherry', 'mango']
mylist.remove("apple")
print(mylist)
mylist.pop(2)
print(mylist)
del mylist[0:2]
print(mylist)

['Strawberry', 'banana', 'cherry', 'mango']
['Strawberry', 'banana', 'mango']
['mango']

# Looping through List

In [ ]:
fruits = ['apple', 'Strawberry', 'banana', 'cherry', 'mango']
for i in fruits:  #to print everything in list
  print(i)

for i in range(len(fruits)): #using range
  print(fruits[i])

mylist = list(range(10)) #typecasting list and another use of range
print(mylist)

apple
Strawberry
banana
cherry
mango
apple
Strawberry
banana
cherry
mango
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Sort,Max,Min & Sum

In [ ]:
#sort works according to ascci value
list1 = ["45","20","30","5"]
list1.sort()
print(list1)
list2 = [45,20,30,5]
list2.sort()
print(list2)
#ascending sorting 
list1.sort(reverse= True)
fruits = ["apple","mango", "cherry", "kiwi", "banana"]
fruits.sort()
print(fruits)
print(list1)
print(min(list1))
print(max(list1))
# print(sum(list1))

['20', '30', '45', '5']
[5, 20, 30, 45]
['apple', 'banana', 'cherry', 'kiwi', 'mango']
['5', '45', '30', '20']
20
5

# List using Loop and if_elif with list comprehension

# List Copy

In [ ]:
#manual
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
copy_fruits = fruits
fruits.append("orange")
print(fruits)
print(copy_fruits)

#another manual way 
copy_fruits = []+fruits
fruits.append("date")
print(fruits)
print(copy_fruits)

#using copy()
copy_fruits= fruits.copy()
fruits.append("strawberry")
print(fruits)
print(copy_fruits)

#using slicing 
copy_fruits = fruits[:]
fruits.append("guava")
print(fruits)
print(copy_fruits)

#typecast copy if needed
copy_fruits = list(fruits)
fruits.append("jackfruit")
print(fruits)
print(copy_fruits)

#using extend(list_name)
copy_fruits = []
copy_fruits.extend(fruits)
fruits.append("razeberry")
print(fruits)
print(copy_fruits)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
print(fruits*2) #copying twice and putting in same list

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date', 'strawberry']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date', 'strawberry', 'guava']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date', 'strawberry']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date', 'strawberry', 'guava', 'jackfruit']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date', 'strawberry', 'guava']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date', 'strawberry', 'guava', 'jackfruit', 'razeberry']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'date', 'strawberry', 'guava', 'jackfruit']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_fruits = []
for fruit in fruits:
  if "a" in fruit:
    new_fruits.append(fruit)

print(new_fruits)

new_fruits = []
for fruit in fruits:
  if "a" in fruit:
    new_fruits.append(fruit)
  else:
    new_fruits.append("orange")

print(new_fruits)
#list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_fruits = [fruit if "a" in fruit else "orange" for fruit in fruits]
print(new_fruits)

['apple', 'banana', 'mango']
['apple', 'banana', 'orange', 'orange', 'mango']
['apple', 'banana', 'orange', 'orange', 'mango']

# List Matrix

In [ ]:
list1  = [[1,2,3,4],[5,6,7,8]]

for l in  list1:
  for i in l:
    print(i,end= " ")
  print()

print(list1[0][1])

1 2 3 4
5 6 7 8
2

# **Tuple**
- Tuple creation 
- Tuple slicing
- Tuple Update
- Tuple add & del
- Tuple unpack
- Tuple iteration

# Tuple Creation

In [ ]:
tuples = (200,10)
print(tuples)
print(len(tuples))
print(type(tuples))

tuples = tuple((200,10))
print(tuples)

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

tuples = ()
print(type(tuples))

tuples = (10)
print(type(tuples))

tuples = (10,)
print(type(tuples))

(200, 10)
2
<class 'tuple'>
(200, 10)
('abc', 34, True, 40, 'male')
<class 'tuple'>
<class 'int'>
<class 'tuple'>

# Tuple Slicing

In [ ]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1[:2])
print(tuple1[:-1])

('apple', 'banana')
('apple', 'banana')

# Tuple Update
  - Not updatable
  - unable to add or remove

In [ ]:
#Tuple is not updatable but we can update by typecasting 
tuples = (200,10,1,43,5,5,6)
list1 = list(tuples)
list1[0] = 250
tuples = tuple(list1)
print(tuples)


print(tuples*2) #copying twice and saving in same tuple

(250, 10, 1, 43, 5, 5, 6)
(250, 10, 1, 43, 5, 5, 6, 250, 10, 1, 43, 5, 5, 6)

# Tuple add & del

In [ ]:
#append through type casting to list
tuples = (200,10,1,43,5,5,6)
list1 = list(tuples)
list1.append(100)
tuples = tuple(list1)
print(tuples)

#adding 2 tupls
tuples = (200,10,1,43,5,5,6)
tuples = tuples+(100,)
print(tuples)

fruits1 = ("apple", "banana", "cherry")
fruits2 = ("strawberry", "raspberry")

fruits3 =fruits1+fruits2
print(fruits3)

#deletion through type casting to list
list1 = list(tuples)
list1.remove(200)
tuples = tuple(list1)
print(tuples)

(200, 10, 1, 43, 5, 5, 6, 100)
(200, 10, 1, 43, 5, 5, 6, 100)
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')
(10, 1, 43, 5, 5, 6, 100)

AttributeError: ignored

# Tuple Unpack

In [ ]:
#unpacking tuples into different variables
fruits =("apple","banana","cherry")
fruit1 , fruit2, fruit3 = fruits
print(fruit1)
print(fruit2)
print(fruit3)

#unpacking tuples into different variables also putting the rest of the tuples into new tuple 
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
fruit1 , fruit2, *new_fruits = fruits #works according to sequence
#fruit1 ,*new_fruits, fruit2  = fruits
#*new_fruits, fruit1 , fruit2  = fruits
print(fruit1)
print(fruit2)
print(tuple(new_fruits))

apple
banana
cherry
apple
banana
('cherry', 'strawberry', 'raspberry')

# Tuple iteration

In [ ]:
#iteration of tuple
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
for fruit in fruits:
  print(fruit)
  
#iteration of tuple using range
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
n = len(fruits)
for i in range(n):
  print(fruits[i])

# **Set**
- Set creation
- Set Update
- Set Add & Del
- Set Function
- Set elemental check

# Set Creation

In [ ]:
set1 = {'apple', 'banana', 'cherry',"orange","kiwi"}
print(set1)
print(type(set1))
print(len(set1))

set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'orange', 'cherry', 'banana', 'apple', 'kiwi'}
<class 'set'>
5
{True, 34, 40, 'abc', 'male'}

# Set Update
- not directly updatable

In [ ]:
#Not efficient as u will never know which index contains what element unless u print 
set1 = {'apple', 'banana', 'cherry',"orange","kiwi"}
list1 = list(set1)
print (list1)
list1[0] = "laddu"
set1 = set(list1)
print(set1)

# need 2 set and update using update()
set1 = {"a","b","c"}
set2 = {"b","c","d"}

set1.update(set2)
print(set1)
print(set2)

['apple', 'orange', 'cherry', 'kiwi', 'banana']
{'orange', 'cherry', 'kiwi', 'banana', 'laddu'}
{'d', 'b', 'a', 'c'}
{'d', 'b', 'c'}

# Set Add & Del

In [ ]:
#adding elements using add()
set1 = {"apple", "banana", "cherry"}
set1.add("orange")
print(set1)
set1.add("melon")
print(set1)

#deleting using remove()
set1 = {"apple", "banana", "cherry"}
set1.remove("apple")
print(set1)

#remove() has limitation 
# set1 = {"apple", "banana", "cherry"}
# set1.remove("apple1")
# print(set1)

#remove using discard()
set1 = {"apple", "banana", "cherry"}
set1.discard("apple")
print(set1)
#works whether the element exists or not
set1.discard("NANI")
print (set1)

#empty a set using clear()
set1 = {"apple", "banana", "cherry"}
set1.clear()
print(set1)
print(type(set1))

{'cherry', 'orange', 'banana', 'apple'}
{'melon', 'orange', 'cherry', 'banana', 'apple'}
{'cherry', 'banana'}
{'cherry', 'banana'}
{'cherry', 'banana'}

# Set Functions (union/intersection/difference)

In [ ]:
set1 = {"a","b","c"}
set2 = {"b","c","d"}
#UNION
#set3 =set1 | set2 <- using OR operator
set3 = set1.union(set2)
print(set1)
print(set2)
print(set3)

#INTERSECTION
set1 = {"a","b","c"}
set2 = {"b","c","d"}
#set3 = set1 & set2 <- using AND operator
set3 = set1.intersection(set2)
print(set3)

set1.intersection_update(set2) #intersect and save at set1 at the same time
print(set1)
#DIFFERENCE
set1 = {"a","b","c"}
set2 = {"b","c","d"}
set3 = set1 -set2
#set3 =set1.difference(set2)
print(set3)

set1 = {"a","b","c"}
set2 = {"b","c","d"}
set1.difference_update(set2) #difference and save at set1 at same time
print(set1)
print(set2)

{'c', 'a', 'b'}
{'c', 'b', 'd'}
{'b', 'd', 'c', 'a'}
{'c', 'b'}
{'c', 'b'}
{'a'}

# Set elemental check

In [ ]:
set1 = {"a","b","c"}
print("a" in set1)
print("a" not in set1)

set1 = {"a","b","c"}
set2 = {"a","b","c","d"}
print(set1.issubset(set2))

True
False
True

# Dictionary
- Dictionary Creation
- Dictionary Access and Printing
- Dictionary Update/add/del
- Dictionary Sorting

# Dictionary Creation

In [ ]:
CT1 = {
    "19101001":20,
    "19101002":18,
    "19101003":19,
    "19101004":16
}
print(CT1["19101004"])
# the limitation is if cant find the key it will represent as error
# to avoid it we will use get()
print(CT1.get("19101005"))
print(type(CT1))
print(CT1.keys()) #TO CHECK KEYS
print(CT1.values()) #TO CHECK VALUES
print(CT1.items()) #TO CHECK DICTIONARY AS ITEMS

16
None
<class 'dict'>
dict_keys(['19101001', '19101002', '19101003', '19101004'])
dict_values([20, 18, 19, 16])
dict_items([('19101001', 20), ('19101002', 18), ('19101003', 19), ('19101004', 16)])

# Dictionary Access and printing

In [ ]:
CT1 = {
    "19101001":20,
    "19101002":18,
    "19101003":19,
    "19101004":16
}
for key in CT1.keys():
  print(key," : ", CT1[key]) #here printing key also using [key] for indexing

for value in CT1.values():
  print(value)
for item in CT1.items():
  print(item)

19101001  :  20
19101002  :  18
19101003  :  19
19101004  :  16
20
18
19
16
('19101001', 20)
('19101002', 18)
('19101003', 19)
('19101004', 16)

In [ ]:
#creating multiple dictionary and place them in another dictionary and access them 
m1 = {
    "brand": "samsung",
    "model": "M21",
    "year" : 2020
}
m2 = {
    "brand": "nokia",
    "model": "3110",
    "year" : 2000
}

dict1 = {
    "mobile1":m1,
    "mobile2":m2
}

print(dict1["mobile1"]["brand"])

In [ ]:
#Using a dictionary with nested keys and access them 
dict1 = {
    "mobile1":{
                  "brand": "samsung",
                  "model": "M21",
                  "year" : 2020
              },
    "mobile2":{
                  "brand": "nokia",
                  "model": "3110",
                  "year" : 2000
              }
}

print(dict1["mobile1"]["brand"])

In [ ]:
CT1 = {
    "19101001":20,
    "19101002":18,
    "19101003":19,
    "19101004":16
}

for key,value in CT1.items():
  print(key," : ",value)

19101001  :  20
19101002  :  18
19101003  :  19
19101004  :  16

# Dictionary Update/add/del

In [ ]:
#updating by accessing key
dict1 = {
    "brand": "samsung",
    "model": "M21",
    "year" : 2020
}

dict1["year"] =2021 
print(dict1)

# adding keys with it's values
# dict1["color"] = "black"
# dict1["price"] = 18500
dict1.update({"color": "black","price":18500}) #<- updating using update()
print(dict1)

#deleting using pop()
dict1.pop("color")
print(dict1)

#deleting the last item using popitem()
dict1.popitem()
print(dict1)

# deleting usign del
del dict1["brand"]
print(dict1)

#clearing dictionary
dict1.clear()
print(dict1)

# to delete the Dictionarys's existence 
del dict1
#print(dict1) <- this will show error as it will say "dict1" is not defined

{'brand': 'samsung', 'model': 'M21', 'year': 2021}
{'brand': 'samsung', 'model': 'M21', 'year': 2021, 'color': 'black', 'price': 18500}
{'brand': 'samsung', 'model': 'M21', 'year': 2021, 'price': 18500}
{'brand': 'samsung', 'model': 'M21', 'year': 2021}
{'model': 'M21', 'year': 2021}
{}

# Dctionary sorting

In [ ]:
dict1 = {
    3:100,
    1:200,
    2:300
}

x = list(dict1.keys())
x.sort()

dict2 ={}
for key in x:
  dict2[key] = dict1[key]
print(dict2)

# If elif

# Implementation

In [ ]:
#Implementation examples
a = int(input())
b = int(input())

if a>b:
  print("a is greater than b")

#Implementation examples for if elif
a = int(input())
b = int(input())

if a>b:
  print("a is greater than b")
elif a == b:
  print("a is equal to b")

#implementation example for if elif & else
a = int(input())
b = int(input())

if a>b:
  print("a is greater than b")
elif a == b:
  print("a is equal to b")
else:
  print("a is less than b")

# Short Hand If

Pattern: task if (condition)

In [ ]:
a = int(input())
b = int(input())

if a>b:print("a is greater than b")

# Short Hand if else
Pattern: task if (conditon) else task

In [ ]:
a = int(input())
b = int(input())

print(a) if a>b else print(b)

# Short Hand if elif(else...if) else
Pattern:
task if (conditon) else task if (condition) else task

In [ ]:
a = int(input())
b = int(input())

print("a is greater than b") if a>b else print("a is equal b") if a==b else print("a is less than b")

15
15
a is equal b

# If Else using operators(Or, And)

if condition1 or condition2:
  task1
if condition1 and condition2:
  task1

In [ ]:
a = int(input())
b = int(input())
c = int(input())

print("a is largest") if a>b and a>c else print("b is largest") if b>a and b>c else print("c is largest")

15
20
30
c is largest

# Nested If

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if a>b:
  if a>c:
    print(a)
  else:
    print(c)
else:
  if b>c:
    print(b)
  else:
    print(c)

# Use of PASS

In [ ]:
a = int(input())
b = int(input())

if a>b:
  pass
print("onno kaje")

# Looping While

In [ ]:
i = 1
while i<=5:
  print(i)
  i+=1

a = 1

1
2
3
4
5

# Looping For

In [ ]:
#range (starting, ending, incremantation)
for i in range(1,6,2):
  print(i)

for i in range(6,0,-1):
  print(i)

1
3
5
6
5
4
3
2
1

# Continue

In [ ]:
i = 1
while i<=5:
  if i==2:
    i+=1
    continue
  print(i)
  i+=1

1
3
4
5

# Break

In [ ]:
i = 1
while i<=5:
  if i==3:
    break
  print(i)
  i+=1

# Nested Loop

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j  in range(1,i+1):
    print("*", end= "")
  print()

5
*
**
***
****
*****

# String
- Index
- Slicing 
- Related Function
- String Count 
- String Find
- String Replace
- String Concat

# String Index & Slicing

In [ ]:
message = "hello world"
#Indexing
print(message[0])
print(message[-1])
#slicing
print(message[2:4])
print(message[:3])
print(message[6:])
print(message[-5:])

h
d
ll
hel
world
world

# String related functions
Len, lower, upper

In [ ]:
message ="hello world"

print(len(message))
print(message.lower())
print(message.upper())

11
hello world
HELLO WORLD

# String Count, Find & Replace

In [ ]:
message = "hello world"

print(message.count("l")) #it counts how many l 

print(message.find("World")) #find the particular and represent out as bool (case Sensitive)

print(message.replace("world","universe"))
print(message.replace("l","x"))

3
-1
hello universe
hexxo worxd

# String Concat

In [ ]:
a  ="hello"
b = "world"
c = a + " "+b
print(c)
c = f"{a} {b}"
print(c)

hello world
hello world

In [ ]:
print(help(str.find))

# Function

# Creating Function

In [ ]:
def func():
  print("hello world")

func()

hello world

In [ ]:
def func(first_name, last_name):
  print("hello ",first_name," ",last_name)

func("afroz","jahan")

hello  afroz   jahan

# Arguments
-Function- Argument

-Arbitrary Argument

-More Programmer-friendly Arbitrary Argument

-Function: Passing List as Argument

-Function return

Function- Argument

In [ ]:
# here func will take name as an argument
def func(name):
  print("hello ",name)

func("Apon")
# Multiple argument in a function
def func(first_name, last_name):
  print("hello ",first_name," ",last_name)

func("afroz","jahan")

def func(first_name, last_name, roll):
  print("hello ",first_name,last_name, "Roll: ", roll )
#ignoring input serial by accessing directly throgh argument
func(roll = "19101031", first_name = "Farhan", last_name = "Labeeb")

hello  Apon
hello  afroz   jahan
hello  Farhan Labeeb Roll:  19101031

Arbitrary Argument

In [ ]:
# def func(*augs):
#    print(augs[0],augs[1])
# Example:
def func(*students):
  print(students[1])
  print(list(students))

func("afroz","foysal","tonmoy")

def func(first_name, last_name,roll,cgpa):
  print("hello ",first_name," ",last_name, " roll: ",roll, " cgpa: ",cgpa)

func(roll = 11, last_name = "jahan", first_name="afroz",cgpa = 3.81)

foysal
['afroz', 'foysal', 'tonmoy']

More User-friendly Arbitrary Argument

In [ ]:

def func(**student): #taking student as an arbitrary argument
  print("hello ",student["first_name"], " ",student["last_name"]," Roll: ",student["roll"]," cgpa",student["cgpa"])
  #implementing argument[vairable]

func(roll = 11, last_name = "jahan", first_name="afroz",cgpa = 3.81)

**Function:** Passing List as Argument

In [ ]:
#Example 1
def func(list1):
  for i in list1:
    print(i)

list2 = ["a","b","c"]

func(list1)
#Example 2
def func(list1):
  list1[0] = "d"

list2 = ["a","b","c"]

func(list2)

print(list2)

#Example 3
def func(list1):
  list1 = list1.copy()
  list1[0] = "d"

  return list1

list2 = ["a","b","c"]

list3 = func(list2)

print(list2)
print(list3)

# Function Return

In [ ]:
# example of multiple return 
def func(x,y):
  return x+y,x*y

sum,multi = func(10,20)
print(sum,multi)

# Lambda
- Use and implementation

# Lamda: Use & Implementation

In [ ]:
x = lambda a : a+10
add_10 = x 
add_10_v2 = x
print(add_10(20))
print(add_10_v2(20))

In [ ]:
def func1(multiplier):
  return lambda a: a*multiplier

double_function = func1(2) #x = lambda a: a*2
print(double_function(5))

tuiple_function = func1(3) #x = lambda a: a*3
print(tuiple_function(5))

tenth_function = func1(10) #x = lambda a: a*10
print(tenth_function(5))

# MAP

# Map Implementation

In [ ]:
#implemention of map by creating & using function
def func(a):
  return a+7

lst = [1,2,3]
list(map(func , lst))

#pattern
# DataType_as_Output(map(Function, iterative element(e: List,Tupple etc)))

[8, 9, 10]

**map and lambda expression (Summation of 2 list)**

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
  
result = map(lambda x, y: x + y, numbers1, numbers2)
#Variable(Result) = map(Lamda variable1(x),variable2(y) : state(x+y), list1(numbers1), list2(numbers2))
print(list(result))

[5, 7, 9]

**Converting to string to List using map()**

In [ ]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']
  
# map() can listify the list of strings individually
test = list(map(list, l))
#variable = Typecast(map(type, iterative variables))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

# **Class**

* Implementation of calss and how to use it 
* Constructor 
* Instance  Method
* Class, instructor, Instance & Object
* Further Example of Instance Variable

# Implemention of class and how to use it

In [ ]:
#Creating a class
class student:
  roll = ""
  GPA = ""
#Using a class by making object
Rahim  = student()
# to verify that rahimg(or whatever a variable) is an object or not
print(isinstance(Rahim, student))
#Using the properties of class through Rahim

Rahim.roll = 19101069
Rahim.GPA = 3.69
#Printing through class
print(f"Roll : {Rahim.roll}\nGPA : {Rahim.GPA}" )

True
Roll : 19101069
GPA : 3.69

# Constructor

In [ ]:
#Creating Constructor
class Student:
  def __init__(self):
    print("constructor has been called") 

std1 = Student()
std2 = Student()

# Instance

In [ ]:
class Student:
  def __init__(self):
    self.name = "guest"
    self.age = -1

std1 = Student()
print(std1.name)
print(std1.age)

In [ ]:
class Student:
  def __init__(self):
    self.name = input()
    self.age = int(input())

STD = Student()
print(STD.name)
print(STD.age)

Apon
22
Apon
22

# Method

In [ ]:
class Student:
  def __init__(self, name= "guest", age = 21):
    self.name = name
    self.age = age
  
  def student_info(self):
    print("Name: ",self.name," Age:", self.age)

std1 = Student("abdur rashid", 21)
std1.student_info()

# **Class, Instructor, instance & Object**

In [ ]:
 
# assigned in the class declaration, are class variables and
# variables inside methods and constructors are instance
# variables.
    
# Class for Dog
class Dog:
   
    # Class Variable
    animal = 'dog'            
   
    # The init method or constructor
    def __init__(self, breed, color):
     
        # Instance Variable    
        self.breed = breed
        self.color = color       
    
# Objects of Dog class
Rodger = Dog("Pug", "brown")
Buzo = Dog("Bulldog", "black")
 
print('Rodger details:')  
print('Rodger is a', Rodger.animal)
print('Breed: ', Rodger.breed)
print('Color: ', Rodger.color)
 
print('\nBuzo details:')  
print('Buzo is a', Buzo.animal)
print('Breed: ', Buzo.breed)
print('Color: ', Buzo.color)
 
# Class variables can be accessed using class
# name also
print("\nAccessing class variable using class name")
print(Dog.animal)

Rodger details:
Rodger is a dog
Breed:  Pug
Color:  brown

Buzo details:
Buzo is a dog
Breed:  Bulldog
Color:  black

Accessing class variable using class name
dog

# Further example of instance Variable

In [ ]:
# Python3 program to show that we can create 
# instance variables inside methods
    
# Class for Dog
class Dog:
       
    # Class Variable
    animal = 'dog'     
       
    # The init method or constructor
    def __init__(self, breed):
           
        # Instance Variable
        self.breed = breed            
   
    # Adds an instance variable 
    def setColor(self, color):
        self.color = color
       
    # Retrieves instance variable    
    def getColor(self):    
        return self.color   
   
# Driver Code
Rodger = Dog("pug")
Rodger.setColor("brown")
print(Rodger.getColor())

brown

# **Inheritence**

In [ ]:
#Example and explaination of inheritence
class quadriLateral:
  def gg (self,a,b,c,d):
    self.a = a
    self.b = b
    self.c = c
    self.d = d

  def perimeter(self):
    print(self.a + self.b + self.c + self.d)


q1.perimeter()

# Inherit parent class (quadriLateral) in to child class (rectangle)
class rectangle(quadriLateral): #Child class
  def __init__(self,a,b):
    super().gg(a,b,a,b) #calling constructor from parent class

r1 = rectangle(4,5)
r1.perimeter()


class square(rectangle):
  def __init__(self,a):
    super().__init__(a,a)

s1 =square(4)
s1.perimeter()

22
18
16

# Class, Inheritence & Super example

In [ ]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfunc(self):  # self used to access variables that belongs to the class.
        print(f"Hello my name is {self.name}")
        print(f"my number is {self.age}")
        


class Wife(Person):#can use multiple child class and also child class of child class
    def __init__(self,name,age,phone):
       super().__init__(name,age)#inherit variable from parent class
       self.phone=phone
    def myfun(self):  # self used to access variables that belongs to the class.   
        print(f"my number is {self.phone}")

p1 = Person("abdullah",23)
p2 = Wife("Sukonna", 22,"0111111111")
p1.myfunc()
p2.myfunc()
p2.myfun()